* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid aquamarine; */
}

:root {
    font-size: 62.5%;
    --gap-block: 3.2rem;
    --orange-base: #F2994A ;

    --aside-width: 200px;
    --main-desktop-gap: 10%;

    --h1-font-size: 2.4rem;
    --h2-font-size: 1.8rem;
    --h3-font-size: 1.6rem;
    --p-font-size: 1.4rem;
    --icons-font-size: 2.4rem;

    --montserrat-font: 'Montserrat', sans-serif;
    --playfair-font: 'Playfair Display', serif;

    --flex-direction-info-time: row;
}

h1 {
    font-size: var(--h1-font-size);
    font-family: var(--playfair-font);
    font-weight: 700;
}
h2 {
    font-size: var(--h2-font-size);
    font-family: var(--playfair-font);
    font-weight: 700;
}
h3 {
    font-size: var(--h3-font-size);
    font-family: var(--playfair-font);
    font-weight: 400;
}
.header p,
.proccess p {
    font-size: var(--p-font-size);
    font-family: var(--montserrat-font);
    font-weight: 500;
}
.aside-paragraph p:first-child {
    font-size: calc( var(--h2-font-size) / 3);
    color: #BDBDBD;
    font-family: var(--montserrat-font);
    font-weight: 500;
}
.aside-paragraph p:last-child {
    font-size: calc( var(--h2-font-size) / 2);
    font-family: var(--montserrat-font);
    font-weight: 700;
}

a {
    text-decoration: none;
    font-family: var(--montserrat-font);
}

.recipe--source,
.recipe--source a {
    font-weight: 400;
    color: #BDBDBD;
    font-size: var(--h2-font-size);
    font-family: var(--montserrat-font);
}

.footer--link,
.footer--link a{
    font-family: var(--montserrat-font);
    font-size: var(--p-font-size);
    font-weight: 400;
    color: #828282;
}

.user--name {
    text-decoration: underline;
}

li {
    list-style: none;
}

.footer, .header, .main {
    width: clamp(200px, 90%, 1200px);
    margin: 0 auto;
    margin-block: var(--gap-block);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: calc(var(--gap-block) / 2);
}

.p-icon {
    transform: rotate(90deg);
    color: #C4C4C4;
}

img { 
    width: 100%;
}

/* Esto ocaciona que los iconos destro del aside 
se organicen de esta manera icono | parrafo/parrafo*/
.recipe-info__time li,
.recipe-info__servings {
    display: flex;
    align-items: center;
}

/* los items del aside con iconos de reloj
se organizan en columnas gracias al siguiente codigo */
.recipe-info__time {
    display: flex;
    flex-direction: var(--flex-direction-info-time); /* */
    gap: 3.2rem;
}

.aside {
    flex: 0 0 var(--aside-width); /*grow: 0 - shrink: 0 - basis: 250px*/
    height: max-content; /* height = contenido */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    padding-block: 8rem; /* mas espacio interno */
}

.main {
    display: flex;
    flex-wrap: wrap;

    /* ocaciona que el aside este a la derecha 
    y no a la izquierda  como el flow lo indica*/
    flex-direction: row-reverse; 

    /* espacio entre maincontent y aside en desktop */
    gap: var(--main-desktop-gap);
}
/* icono naranja */
.recipe-info__servings div p:last-of-type,
.recipe-info__servings span {
    color: var(--orange-base);
}
/* Estilos para los iconos */
.recipe-info__servings span,
.recipe-info__time span {
    font-size: var(--icons-font-size);
}

.recipe-info__time div p {
    font-size: calc( var(--p-font-size / 2) );
}

.proccess {
    /* grow: 1 - shrink: 1 - basis: (3x)aside-width*/
    flex: 1 1 calc(var(--aside-width)*2); 
}

.instructions__container--li {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
    margin-block-start: var(--gap-block);
}
.instructions__container--li span {
    font-size: 2.4rem;
    color: white;
    font-family: var(--playfair-font);
    font-weight: 700;
    background-color:  var(--orange-base);
    border-radius: 5px;
    width: 3.6rem;
    height: 3.6rem;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-block);
    align-items: center;
}

/* menores de 772px */
@media ( max-width: 772px ) {
    .aside {
        padding: 0;
    }
    .main {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

/* entre 772px y 991px */
@media (min-width: 772px) {
    :root {
        font-size: 62.5%;
        --h1-font-size: 3.2rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.8rem;
        --p-font-size: 1.6rem;
        --icons-font-size: 2.6rem;
        --flex-direction-info-time: column;
    }
    .aside {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }
}

/* entre 992px y hasta 1200px */
@media (min-width: 992px) {
    :root {
        font-size: 62.5%;
        --h1-font-size: 4.8rem;
        --h2-font-size: 2.4rem;
        --h3-font-size: 2rem;
        --p-font-size: 1.8rem;
        --icons-font-size: 3rem;
    }
}